<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siegfred Blog | <%= title %></title>
</head>
<body>

    <!-- To create dynamic content, we use ejs tags -->
    <!-- this is by writing our code inbetween <% %> -->
    <!-- This will run as dynamic code on the server -->
    <!-- <% const name = 'mario' %> -->

    <!-- <nav>
        <div>
            <p><%= name%></p>   // outputing a dynamic content. we add '=' if it's a single value
            <a href="/"><h1>blog Siegfred</h1></a>
            <p>A Siegfred Website</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav> -->

    <%- include('./partials/nav.ejs') %>
    <!-- When we use '=', we escape certain special characters
        and end up with string values instead of raw HTML 
        so when we use include, we use '-' instead-->

    <div class="blog-content">
        <h2>All Blogs</h2> 

        <% if (blogs.length > 0) {%>
            <% blogs.forEach(blog =>{%>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
             <% }) %>
        <% }else{ %>
            <p>There are no blogs to display</p>
            <% } %>

    </div>
</body>
</html>